@import '../../../common/common.css';
@import '../../../common/reset.css';
@import '../../../common/variable.css';

/*Cf_box1 (NEW CF)////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#Cf_box1 {
    display: flex; justify-content: center;
    width: 100%; height: 1000px;
    /* background-color: #fda; */
    padding-top: 160px;
    border-bottom: 1px solid #7d7d7d;
}

#Cf_box1 .container{
    width: 1600px; height: 900px;
    /* background-color: #fdd; */
}

#Cf_box1 .container .cf_title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
}

#Cf_box1 .container .cf_video{
    display: flex; align-items: center; justify-content: center;
}
#Cf_box1 .cf_video > iframe{
    border-radius: 30px;
}

/*Cf_box1 (NEW CF)////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/