@import '../../common/variable.css';
@import '../../common/common.css';
@import '../../common/reset.css';

/*header/////////////////////////////////////////////////////////////////////////////////////////////*/
#header_box {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    z-index: 1000;
    background-color: transparent;
    /* background-color: #fda;  */
} /* header 전체 박스*/

#header_box:hover {
    background-color: #ffffff !important;
}  /* header 전체 박스 오버시*/

#header_box:hover .main_li {
    color: #000000 !important;
} /* header 전체 박스 오버시, main_li 색상 변화*/

#header_box .container {
    display: flex;
    justify-content: space-around;
    width: 1700px;
    max-width: 1920px;
    min-width: 300px;
    height: 50px;
    margin: auto;
    background-color: transparent;
    /* background-color:rgb(126, 199, 148);     */
} /* header 위치 영역 박스 */


#header_box .container h1 {
    width: 150px;
    height: 50px;
} /* header logo */

#header_box .container .logo_img {
    background-image: url(../../../public/img/main_img/header_box/gnb_logo_new.png);
    background-repeat: no-repeat;
    background-size: 150px 50px;
} /* header logo 이미지*/


/*/////////////////////*/
/*navigation*/
#header_box .header_nav {
    width: auto;
    height: auto;
} /* 내비게이션 바 전체 영역*/


/*기본 header 영역*/
#header_box .header_nav .main_menu {

    display: flex;
    gap: 90px;
    align-items: center;
    height: 100%;
    list-style-type: none;
} /* 내비게이션 바 메인 메뉴 */

#header_box .header_nav .main_li {
    width: auto;
    height: auto;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
} /* 내비게이션 바 메인 메뉴 li */

.header_nav .main_li > a:hover {
    color: #23afe3;
    cursor: pointer;
} /* 내비게이션 바 메인 메뉴 li 링크 오버시 */

#header_box .header_nav .main_li:last-child {
    width: 30px;
    height: 30px;
    background: url(../../../public/img/main_img/header_box/global_icon.png) no-repeat center center / contain;
} /* 내비게이션 바 메인 메뉴 global 로고 */

#header_box .header_nav .main_li:last-child:hover {
    width: 30px;
    height: 30px;
    background: url(../../../public/img/main_img/header_box/global_icon_black.png) no-repeat center center / contain;
    cursor: pointer;
} /* 내비게이션 바 메인 메뉴 global 로고 오버시 */
/*기본 header 영역*/


/* 오버시 header 영역*/
#header_box .menu_hover_box {position:absolute; left:0; right:0; background:#fff; top:80px; height:0; border-top:1px solid #dddddd; transition:all .2s linear; -webkit-transition:all .2s linear; opacity:0;}
#header_box:hover .menu_hover_box {height:300px; opacity:1;}
#header_box .sub_menu_box {background:transparent; height:0; bottom:-1px; transition:all .2s linear; -webkit-transition:all .2s linear; opacity:0; visibility:hidden}
#header_box:hover .sub_menu_box {opacity:1; visibility:visible;}
#header_box .sub_menu {padding-top: 60px;}
#header_box .sub_menu li {padding-bottom: 15px;}
#header_box .sub_menu li a {position:relative; color:transparent; transition:all .2s linear; -webkit-transition:all .2s linear; }
#header_box .sub_menu li a:before {content:""; position:absolute; bottom:-4px; width:0; height:1px; left:50%; background:#23afe3; transition:all .2s linear; -webkit-transition:all .2s linear;}
#header_box:hover .sub_menu li a {margin-top:10px; color:#666;}
#header_box:hover .sub_menu li a:hover {color: #23afe3;}
#header_box:hover .sub_menu li a:hover:before {width:100%; left:0;}
#header_box:hover .main_li:last-child {width: 30px;
    height: 30px;
    background: url(../../../public/img/main_img/header_box/global_icon_black.png) no-repeat center center / contain;
    cursor: pointer;}
/*navigation*/

/*header/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/