@import '../../common/variable.css';
@import '../../common/common.css';
@import '../../common/reset.css';

/*section_box2 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#section_box2 {
    /* position: relative; */
    width: 100%;
    height: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f8f8f8;
    /* background-color: transparent; */
}

#section_box2 .container {
    /* position: relative; */

    width: 1440px;
    /* width: 100%; */
    max-width: 1920px;
    min-width: 300px;
    height: 700px;
    margin: auto;
    background-color: #f8f8f8;
    /* background-color: transparent; */
}

/*SPC GROUP TEXT BOX*/
.main_group_text {
    width: 100%;
    height: auto;
    margin-top: 2rem;

    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
}

.main_group_text h2 {
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;

}


.main_group_text p {
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;

    font-size: var(--font-content_03);
    color: #7d7d7d;
    font-weight: 400;
    font-size: 20px;


}

/*SPC GROUP TEXT BOX*/


/* SPC GROUP CARD 박스 크기 및 위치 설정 */
.main_group_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    box-sizing: border-box;

}

.main_group_card ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 550px;
    /* background-color: #dff; */
    background-color: transparent;

    flex-wrap: wrap;
}

.main_group_card li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 440px;
    box-sizing: border-box;
    border-radius: 40px;
    /* background-image: url(/img/main_img/section_box2/group_bg_01_hover.jpg); */
    box-shadow: 0px 0px 13px #ccc;
}

/*SPC GROUP 카드 오버시 배경*/
.main_group_card .bg_01 {
    background-image: url(../../../public/img/main_img/section_box2/group_bg_01_hover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_group_card .bg_02 {
    background-image: url(../../../public/img/main_img/section_box2/group_bg_02_hover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_group_card .bg_03 {
    background-image: url(../../../public/img/main_img/section_box2/group_bg_03_hover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main_group_card .bg_04 {
    background-image: url(../../../public/img/main_img/section_box2/group_bg_04_hover.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}/*SPC GROUP 카드 오버시 배경*/


.main_group_card li .outline {
    position: relative;
    width: 300px;
    height: 400px;

}

/* SPC GROUP CARD 박스 크기 및 위치 설정 */



/* SPC GROUP CARD 제목 */
.main_group_card .card_title_01{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px 0px 0px 30px;
    color: #23afe3;
    font-weight: 700;
    text-transform: uppercase;
}
.main_group_card .card_title_02{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px 0px 0px 30px;
    color: #23afe3;
    font-weight: 700;
    text-transform: uppercase;
}

.main_group_card .card_title_03{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px 0px 0px 30px;
    color: #23afe3;
    font-weight: 700;
    text-transform: uppercase;
}

.main_group_card .card_title_04{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px 0px 0px 30px;
    color: #23afe3;
    font-weight: 700;
    text-transform: uppercase;
}

.main_group_card .none{
    display: none;
}

/* SPC GROUP CARD 제목 */

/* SPC GROUP CARD 이미지 */

.main_group_card .outline .card_image {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
}

.main_group_card .outline .none {
   display: none;
}

.main_group_card .outline .card_image_01 {
    height: 400px;
    background-image: url(../../../public/img/main_img/section_box2/group_bg_01.png);
    background-position: center;
    background-repeat: no-repeat;
}

.main_group_card .outline .card_image_02 {
    height: 400px;
    background-image: url(../../../public/img/main_img/section_box2/group_bg_02.png);
    background-position: center;
    background-repeat: no-repeat;
}

.main_group_card .outline .card_image_03 {
    height: 400px;
    background-image: url(../../../public/img/main_img/section_box2/group_bg_03.png);
    background-position: center;
    background-repeat: no-repeat;
}

.main_group_card .outline .card_image_04 {
    height: 400px;
    background-image: url(../../../public/img/main_img/section_box2/group_bg_04.png);
    background-position: center;
    background-repeat: no-repeat;
}

/* SPC GROUP CARD 이미지 */



/* SPC GROUP CARD 설명 */
.main_group_card .card_text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 260px;
    font-weight: 700;
    word-break: keep-all;
    padding: 0 0 0 30px;
}

.main_group_card .none {
    display: none;
}

.main_group_card .card_text_01 {
    position: absolute;
    width: 300px;

    bottom: 0;
    left: 0;
    margin: 0px 0px 30px 40px;
    font-weight: 700;
    word-break: keep-all;
}

.main_group_card .card_text_02 {
    position: absolute;
    width: 300px;

    bottom: 0;
    left: 0;
    margin: 0px 0px 30px 40px;
    font-weight: 700;
}

.main_group_card .card_text_03 {
    position: absolute;
    width: 300px;

    bottom: 0;
    left: 0;
    margin: 0px 0px 10px 40px;
    font-weight: 700;
}

.main_group_card .card_text_04 {
    position: absolute;
    width: 300px;

    bottom: 0;
    left: 0;
    margin: 0px 0px 10px 40px;
    font-weight: 700;
}

/* SPC GROUP CARD 설명 */

/*section_box2 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/