@import '../../common/variable.css';
@import '../../common/common.css';
@import '../../common/reset.css';

/*section_box2 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#section_box2 {
    /* position: relative; */
    width: 100%;
    height: 900px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f8f8f8;
    /* background-color: transparent; */
}

#section_box2 .container {
    /* position: relative; */

    width: 1440px;
    /* width: 100%; */
    max-width: 1920px;
    min-width: 300px;
    height: 700px;
    margin: auto;
    background-color: #f8f8f8;
    /* background-color: transparent; */
}


.main_group_text {
    width: 100%;
    height: auto;
    margin-top: 2rem;

    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
} /*SPC GROUP TEXT BOX*/

.main_group_text h2 {
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;

} /*SPC GROUP TEXT BOX -> h2*/


.main_group_text p {
    width: 100%;
    height: auto;
    margin-bottom: 0.2rem;

    font-size: var(--font-content_03);
    color: #7d7d7d;
    font-weight: 400;
    font-size: 20px;


} /*SPC GROUP TEXT BOX*/


.main_group_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    box-sizing: border-box;

} /* SPC GROUP CARD 박스 크기 및 위치 설정 */

.main_group_card ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 550px;
    /* background-color: #dff; */
    background-color: transparent;

    flex-wrap: wrap;
} /* SPC GROUP CARD 박스 ul */

.main_group_card li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 440px;
    box-sizing: border-box;
    border-radius: 40px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 13px #ccc;
} /* SPC GROUP CARD 박스 li */

.main_group_card li .outline {
    position: relative;
    width: 300px;
    height: 400px;

} /* SPC GROUP CARD 박스 크기 및 위치 설정 */

.main_group_card .card_title{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px 0px 0px 30px;
    color: #23afe3;
    font-weight: 700;
    text-transform: uppercase;
} /* SPC GROUP CARD 제목 */


.main_group_card .outline .card_image {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
} /* SPC GROUP CARD 이미지 */

.main_group_card .card_text {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 260px;
    font-weight: 700;
    word-break: keep-all;
    padding: 0 0 0 30px;
} /* SPC GROUP CARD 설명 */

/*section_box2 //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/