@import '../../../common/common.css';
@import '../../../common/reset.css';
@import '../../../common/variable.css';

/*News_box2 (SPC LIVE 보도자료 박스)////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#News_box2 {
    display: flex; align-items: center; 
    width: 100%;
    height: 2700px;
    /* background-color: #fda; */
} /*SPC LIVE 보도자료 박스 전체 영역*/

#News_box2 .container{
    width: 1600px;
    height: 2500px;
    margin: 0 auto;
    /* background-color: #fff; */
} /*SPC LIVE 보도자료 박스 위치 영역*/

#News_box2 .container .livenews_title{
    width: 100%;
    height: 100px;
    display: flex; align-items: center; justify-content: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
} /*SPC LIVE 보도자료 박스 타이틀*/

#News_box2 .container .search_wrap{
    width: 100%;
    height: 100px;
    margin-bottom: 90px;
    /* background-color: #fda; */
} /*SPC LIVE 보도자료 박스 SEARCH_WRAP 전체 영역*/

#News_box2 .container .search_wrap_ul{
    width: 100%;
    height: 100px;
    display: flex; align-items: center; gap: 30px;
    margin-bottom: 90px;
    /* background-color: #fda; */
} /*SPC LIVE 보도자료 박스 SEARCH_WRAP 위치 영역*/

#News_box2 .container .search_wrap_li{
    position: relative;
    display: flex; align-items: center;
    width: 300px;
    height: 80px;
    padding: 0 20px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 0 13px #ccc;
    box-sizing: border-box;
} /*SPC LIVE 보도자료 박스 탭 메뉴 카드*/

#News_box2 .search_wrap_li p::before{
    content: '';
    position: absolute;
    top: 50%;
    right: 35px;
    width: 20px;
    height: 20px;
    background: url('https://api.iconify.design/akar-icons/chevron-right.svg?rotate=90deg') no-repeat center center / contain;
    margin-top: -10px;
} /*SPC LIVE 보도자료 박스 탭 메뉴 카드 안 bottom 화살표*/

#News_box2 .container .search_wrap_input{
    position: relative;
    display: flex; align-items: center;
    width: 900px;
    height: 80px;
    border-radius: 30px;
} /*SPC LIVE 보도자료 박스 input 전체 영역*/

#News_box2 .search_wrap_input input[type=text]{
    width: 900px;
    height: 80px;
    border-radius: 30px;
    box-shadow: 0 0 13px #ccc;
    background-color: #fff;
    border: 0;
    padding: 0 30px;
} /*SPC LIVE 보도자료 박스 input 카드*/

#News_box2 .search_wrap_input .search_icon{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 20px;
    background: url('https://api.iconify.design/fe/search.svg') no-repeat center center / contain;
} /*SPC LIVE 보도자료 박스 input 카드 안 search 버튼*/

#News_box2 .container .livenews_card_box{
    width: 100%;
    height: 1930px;
    margin-bottom: 80px;
    /* background-color: #fdf; */
} /*SPC LIVE 보도자료 박스 카드 전체 영역*/

#News_box2 .container .livenews_card_ul{
    width: 100%;
    height: 460px;
    display: flex; gap: 50px;
    /* box-sizing: border-box; */
    margin-bottom: 30px;
    /* background-color: #3eb146; */
} /*SPC LIVE 보도자료 박스 카드 위치 영역*/

#News_box2 .container .livenews_card_li{
    width: 500px;
    height: 460px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 13px #ccc;
} /*SPC LIVE 보도자료 박스 카드*/

/*/////////////////////// SPC LIVE 보도자료 박스 카드 이미지 모음 ////////////////////////*/
#News_box2 .container .livenews_card_image_01 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_01.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 01*/

#News_box2 .container .livenews_card_image_02 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_02.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 02*/

#News_box2 .container .livenews_card_image_03 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_03.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 03*/

#News_box2 .container .livenews_card_image_04 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_04.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 04*/

#News_box2 .container .livenews_card_image_05 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_05.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 05*/

#News_box2 .container .livenews_card_image_06 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_06.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 06*/

#News_box2 .container .livenews_card_image_07 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_07.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 07*/

#News_box2 .container .livenews_card_image_08 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_08.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 08*/

#News_box2 .container .livenews_card_image_09 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_09.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 09*/

#News_box2 .container .livenews_card_image_10 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_10.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 10*/

#News_box2 .container .livenews_card_image_11 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_11.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 11*/

#News_box2 .container .livenews_card_image_12 {
    width: 500px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_news_img/news_12.jpg);
} /*SPC LIVE 보도자료 박스 카드 이미지 12*/
/*/////////////////////// SPC LIVE 보도자료 박스 카드 이미지 모음 ////////////////////////*/


#News_box2 .livenews_card_text{
    position: relative;
    width: 100%; height: 160px;
    box-sizing: border-box;
    padding: 20px;
} /*SPC LIVE 보도자료 박스 카드 제목 영역 */

#News_box2 .livenews_card_text p{
    padding : 15px 0 15px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} /*SPC LIVE 보도자료 박스 카드 제목 */

#News_box2 .livenews_card_text .brand_text{
    position: absolute;
    bottom:30px; left: 20px;
    text-transform: uppercase;
    text-align: left;
    color: #7d7d7d;
} /*SPC LIVE 보도자료 박스 카드 브랜드 이름 */


#News_box2 .livenews_card_text .date_text{
    position: absolute;
    bottom:30px; left: 150px;
    color: #7d7d7d;
} /*SPC LIVE 보도자료 박스 카드 날짜 */

#News_box2 .livenews_card_text .view_more{
    position: absolute;
    bottom:20px; right: 30px;
} /*SPC LIVE 보도자료 박스 카드 VIEW MORE 버튼 */

#News_box2 .container .page_box{
    width: 100%; height: 100px;
    display: flex; align-items: center; justify-content: center;
} /*SPC LIVE 보도자료 박스 안 pagination 박스 */

#News_box2 .container .pagination_ul{
    display: flex; gap: 20px;
} /*SPC LIVE 보도자료 박스 안 pagination_ul*/

#News_box2 .container .pagination_li{
    width: 40px; height: 40px;
    display: flex; align-items: center; justify-content: center;
    color: #afafaf;
} /*SPC LIVE 보도자료 박스 안 pagination_li*/

#News_box2 .container .pagination_li:hover{
    color: #000000;
} /*SPC LIVE 보도자료 박스 안 pagination_li 오버시*/

#News_box2 .pagination_li .active{
    color: #23afe3;
} /*SPC LIVE 보도자료 박스 안 pagination_li 현재 페이지*/