@import '../../../common/common.css';
@import '../../../common/reset.css';
@import '../../../common/variable.css';

/*FamilyChannel_box1 (SPC 해피포인트 박스)////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#FamilyChannel_box1 {
    display: flex; align-items: center; 
    width: 100%;
    height: 1000px;
    /* background-color: #fda; */
} /*SPC 해피포인트 박스 전체 영역*/

#FamilyChannel_box1 .container{
    width: 1600px;
    height: 800px;
    margin: 0 auto;
    /* background-color: #fff; */
} /*SPC 해피포인트 박스 위치 영역*/

#FamilyChannel_box1 .container .happypoint_title{
    width: 100%;
    height: 100px;
    display: flex; align-items: center; justify-content: center;
    text-align: center;
    text-transform: uppercase;
} /*SPC 해피포인트 박스 타이틀*/

#FamilyChannel_box1 .container .happypoint_text{
    width: 100%;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
    color: #7d7d7d;
} /*SPC 해피포인트 박스 타이틀 설명(텍스트)*/

#FamilyChannel_box1 .container .happypoint_card_box{
    width: 100%;
    height: 500px;
    /* background-color: #fdf; */
} /*SPC 해피포인트 박스 카드 전체 영역*/

#FamilyChannel_box1 .container .happypoint_card_ul{
    width: 100%;
    height: 500px;
    display: flex; gap: 20px;
    /* background-color: #3eb146; */
} /*SPC 해피포인트 박스 카드 위치 영역*/

#FamilyChannel_box1 .container .happypoint_card_li{
    width: 304px;
    height: 500px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 13px #ccc;
} /*SPC 해피포인트 박스 카드*/

/*/////////////////////// SPC 해피포인트 박스 카드 이미지 모음 ////////////////////////*/
#FamilyChannel_box1 .container .happypoint_card_image_01 {
    width: 304px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_familychannel_img/happypoint/point-img01.jpg);
} /*SPC 해피포인트 박스 카드 이미지 01*/

#FamilyChannel_box1 .container .happypoint_card_image_02 {
    width: 304px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_familychannel_img/happypoint/point-img02.jpg);
} /*SPC 해피포인트 박스 카드 이미지 02*/

#FamilyChannel_box1 .container .happypoint_card_image_03 {
    width: 304px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_familychannel_img/happypoint/point-img03.jpg);
} /*SPC 해피포인트 박스 카드 이미지 03*/

#FamilyChannel_box1 .container .happypoint_card_image_04 {
    width: 304px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_familychannel_img/happypoint/point-img04.jpg);
} /*SPC 해피포인트 박스 카드 이미지 04*/

#FamilyChannel_box1 .container .happypoint_card_image_05 {
    width: 304px;
    height: 300px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat; background-size: cover; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_familychannel_img/happypoint/point-img05.jpg);
} /*SPC 해피포인트 박스 카드 이미지 05*/
/*/////////////////////// SPC 해피포인트 박스 카드 이미지 모음 ////////////////////////*/


#FamilyChannel_box1 .happypoint_card_text{
    width: 100%; height: 200px;
    box-sizing: border-box;
    padding: 20px;
} /*SPC 해피포인트 박스 카드 제목 영역 */

#FamilyChannel_box1 .happypoint_card_text p {
    text-align: center;
    padding : 30px 0 30px 0;
} /*SPC 해피포인트 박스 카드 제목 */

#FamilyChannel_box1 .happypoint_card_text .buy{
    margin : 10px auto;
} /*SPC 해피포인트 박스 카드 구매하러 가기 버튼 */

/*FamilyChannel_box1 (SPC 해피포인트 박스)///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/