@import '../../../common/common.css';
@import '../../../common/reset.css';
@import '../../../common/variable.css';

/*Sns_box2 (브랜드 공식 채널)///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#Sns_box2 {
    display: flex;  justify-content: center;
    width: 100%; height: 2100px;
    /* background-color: #c3c; */
} /*SPC BRAND 박스 전체 영역*/

#Sns_box2 .container{
    width: 1600px; height: 1885px;
    /* background-color: #ccc; */
} /*SPC BRAND 박스 위치 영역*/

#Sns_box2 .container .brand_title{
    width: 100%;
    height: 100px;
    display: flex; align-items: center; justify-content: center;
    text-align: center;
    text-transform: uppercase;
} /*SPC BRAND 박스 타이틀*/

#Sns_box2 .container .brand_text{
    width: 100%;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 90px;
    color: #7d7d7d;
} /*SPC BRAND 박스 타이틀 타이틀 설명(텍스트)*/

#Sns_box2 .container .brand_card_box{
    width: 100%;
    height: 1635px;
    box-sizing: border-box;
    /* background-color: #fda; */
} /*SPC BRAND 박스 카드 전체 영역 */

#Sns_box2 .container .brand_card_ul{
    display: flex;
    width: 100%; height: 150px; gap: 50px;
    margin-bottom:15px;
} /*SPC BRAND 박스 카드 위치 영역 */

#Sns_box2 .container .brand_card_li{
    position: relative;
    display: flex;
    width: 500px; height: 150px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 13px #ccc;
    box-sizing: border-box;
    padding-left: 15px;
} /*SPC BRAND 박스 카드 */

/* ///////////////////////////// SPC BRAND 박스 카드 로고 이미지 모음 ///////////////////////////// */
#Sns_box2 .container .logo_image_01{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_한상차림.png);
} /* 한상차림 */

#Sns_box2 .container .logo_image_02{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_삼립.png);
} /* 삽립 */

#Sns_box2 .container .logo_image_03{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_파리바게뜨.png);
} /* 파리바게뜨 */

#Sns_box2 .container .logo_image_04{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_배스킨라빈스.png);
} /* 배스킨라빈스 */

#Sns_box2 .container .logo_image_05{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_던킨.png);
} /* 던킨 */

#Sns_box2 .container .logo_image_06{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_파리크라상.png);
} /* 파리크라상 */

#Sns_box2 .container .logo_image_07{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_패션5.png);
} /* 패션5 */

#Sns_box2 .container .logo_image_08{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_쉐이크쉑.png);
} /* 쉐이크쉑 */

#Sns_box2 .container .logo_image_09{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_에그슬롯.png);
} /* 에그슬럿 */

#Sns_box2 .container .logo_image_10{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_라그릴리아.png);
} /* 라그릴리아 */

#Sns_box2 .container .logo_image_11{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_파스쿠찌.png);
} /* 파스쿠찌 */

#Sns_box2 .container .logo_image_12{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_잠바주스.png);
} /* 잠바주스 */

#Sns_box2 .container .logo_image_13{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_리나스.png);
} /* 리나스 */

#Sns_box2 .container .logo_image_14{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_티트라.png);
} /* 티트라 */

#Sns_box2 .container .logo_image_15{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_피그인더가든.png);
} /* 피그인더가든 */

#Sns_box2 .container .logo_image_16{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_커피앳웍스.png);
} /* 커피앳웍스 */

#Sns_box2 .container .logo_image_17{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_시티델리.png);
} /* 시티델리 */

#Sns_box2 .container .logo_image_18{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_빚은.png);
} /* 빚은 */

#Sns_box2 .container .logo_image_19{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_라뜰리에.png);
} /* 라뜰리에 */

#Sns_box2 .container .logo_image_20{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_디.퀸즈.png);
} /* 디.퀸즈 */

#Sns_box2 .container .logo_image_21{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_해피포인트.png);
} /* 해피포인트 */

#Sns_box2 .container .logo_image_22{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_샤니.png);
} /* 샤니 */

#Sns_box2 .container .logo_image_23{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_베이커팩토리.png);
} /* 베이커리 팩토리 */

#Sns_box2 .container .logo_image_24{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_퀸즈파크.png);
} /* 퀸즈파크 */

#Sns_box2 .container .logo_image_25{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_그릭슈바인.png);
} /* 퀸즈파크 */

#Sns_box2 .container .logo_image_26{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_스트릿.png);
} /* 그릭슈바인 */

#Sns_box2 .container .logo_image_27{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_더월드바인.png);
} /* 스트릿 */

#Sns_box2 .container .logo_image_28{
    width: 120px; height: 150px;
    
    background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_sns_img/brand/brand_배라.png);
} /* 베라 */
/* ///////////////////////////// SPC BRAND 박스 카드 로고 이미지 모음 ///////////////////////////// */

#Sns_box2 .container .logo_name{
    display: flex; align-items: center;
    height: 150px;
    padding-left: 10px;
} /*SPC BRAND 박스 카드 로고 이름 */

#Sns_box2 .container .icon_box{
    display: flex; justify-content: center; align-items: center;
    width: 50px; height: 150px;
} /*SPC BRAND 박스 카드 home ICON 박스 */

#Sns_box2 .container .icon_box_none{
    display: none;
    width: 0; height: 0; 
} /*SPC BRAND 박스 카드 home ICON 박스 보이지않게 none*/

#Sns_box2 .brand_card_li .outline{
    display: flex; justify-content: center; align-items: center;
    width: 50px; height: 50px;
    border-radius: 30px;
    box-shadow: 0 0 13px #ccc;
}  /*SPC BRAND 박스 카드 ICON 바깥 라인 박스 */


#Sns_box2 .brand_card_li .icon_wrap_01{
    position: absolute;
    display: flex; gap:8px;
    box-sizing: border-box;
    left: 441px;
} /*SPC BRAND 박스 카드 ICON wrap -> icon 1개 일때 */

#Sns_box2 .brand_card_li .icon_wrap_02{
    position: absolute;
    display: flex; gap:8px;
    box-sizing: border-box;
    left: 384px;
} /*SPC BRAND 박스 카드 ICON wrap -> icon 2개 일때 */

#Sns_box2 .brand_card_li .icon_wrap_03{
    position: absolute;
    display: flex; gap:8px;
    box-sizing: border-box;
    left: 324px;
} /*SPC BRAND 박스 카드 ICON wrap -> icon 3개 일때 */

#Sns_box2 .brand_card_li .icon_wrap_04{
    position: absolute;
    display: flex; gap:8px;
    box-sizing: border-box;
    left: 267px;
} /*SPC BRAND 박스 카드 ICON wrap -> icon 4개 일때 */

#Sns_box2 .container .home_icon {
    width: 30px; height: 30px;
    background-repeat: no-repeat; background-position: 50% 50%; background-size: contain;
    background-image: url(../../../../public/img/spc_familychannel_img/icon/home_icon.png);
} /*SPC BRAND 박스 카드 home ICON  */

#Sns_box2 .container .instagram_icon {
    width: 30px; height: 30px;
    background-repeat: no-repeat; background-position: 50% 50%; background-size: contain;
    background-image: url(../../../../public/img/spc_familychannel_img/icon/instagram_icon.png);
} /*SPC BRAND 박스 카드 instagram ICON  */

#Sns_box2 .container .facebook_icon {
    width: 30px; height: 30px;
    background-repeat: no-repeat; background-position: 50% 50%; background-size: contain;
    background-image: url(../../../../public/img/spc_familychannel_img/icon/facebook_icon.png);
} /*SPC BRAND 박스 카드 instagram ICON  */

#Sns_box2 .container .youtube_icon {
    width: 30px; height: 30px;
    background-repeat: no-repeat; background-position: 50% 50%; background-size: contain;
    background-image: url(../../../../public/img/spc_familychannel_img/icon/youtube_icon.png);
} /*SPC BRAND 박스 카드 instagram ICON  */


/*Sns_box2 (브랜드 공식 채널)///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/