@import '../../../common/common.css';
@import '../../../common/reset.css';
@import '../../../common/variable.css';

/*Subsidiary_box1/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#Subsidiary_box1{
    position: relative; z-index: 1;
    width: 1920px; height: 3300px;
    /* background-color: #ccc; */
} /*Subsidiary_box1*/

#Subsidiary_box1 .subsidiary_box{
    position: absolute; left:700px; top:190px;
    width: 930px; height: 3000px;
    box-sizing: border-box;
} /*계열사 전체 박스*/

#Subsidiary_box1 .subsidiary_box .subsidiary_card_box{
    width: 930px; height: 1030px;
    margin-bottom: 100px;
    /* background-color:antiquewhite; */
} /* 계열사 식품 박스 */

#Subsidiary_box1 .subsidiary_box .subsidiary_card_box_half{
    width: 930px; height: 515px;
    margin-bottom: 100px;
    /* background-color:antiquewhite; */
} /* 계열사 원료,IT,유통 박스 */

#Subsidiary_box1 .subsidiary_box .subsidiary_title {
    display: flex; align-items: center;
    width: 930px; height: 50px;
    margin-bottom: 30px;
    /* background-color: #fdf; */
} /* 계열사 식품,원료,IT,유통 박스 안 타이틀 */

#Subsidiary_box1 .subsidiary_box p{
    width: 400px;
    text-transform: uppercase;
    margin-bottom: 30px;
} /* 계열사 식품,원료,IT,유통 박스 텍스트*/

#Subsidiary_box1 .subsidiary_box .subsidiary_title_logo{
    width: 120px;
    height: 40px;
    background-color: #1ca3df;
    border-radius: 40px;
    text-align: center;
    color: #ffffff;
    line-height: 40px;
} /* 계열사 식품,원료,IT,유통 박스 로고*/

#Subsidiary_box1 .subsidiary_box .subsidiary_card_ul{
    display: flex; gap: 30px;
    width: 930px; height: 450px;
    margin-bottom: 30px;
    /* background-color: #ddf; */
} /* 계열사 식품,원료,IT,유통 박스 > 카드 박스*/

#Subsidiary_box1 .subsidiary_box .subsidiary_card_li{
    width: 450px; height: 450px;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 13px #ddd;
} /* 계열사 식품,원료,IT,유통 박스 > 카드 */

#Subsidiary_box1 .subsidiary_card_li .subsidiary_card_text_wrap{
    position : relative;
    width: 450px; height: 210px;
    border-radius: 0px 0px 30px 30px ;
    /* background-color: #fda; */
} /* 계열사 식품,원료,IT,유통 박스 > 카드 텍스트 wrap */

#Subsidiary_box1 .subsidiary_card_text_wrap .subsidiary_card_text_01{
    width: 400px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-top: 40px;
} /* 계열사 식품,원료,IT,유통 박스 > 카드 텍스트_01 */

#Subsidiary_box1 .subsidiary_card_text_wrap .subsidiary_card_text_02{
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    color: #7d7d7d;
} /* 계열사 식품,원료,IT,유통 박스 > 카드 텍스트_02 */

#Subsidiary_box1 .subsidiary_card_text_wrap .view_more{
    position: absolute; right : 20px; bottom: 20px;
} /* 계열사 식품,원료,IT,유통 박스 > 카드 MORE VIEW BUTTON */








/* ///////////////////계열사 카드 이미지 모음/////////////////////////*/

/*식품*/
#Subsidiary_box1 .subsidiary_card_li .food_card_image_01{
    width: 450px; height: 240px;
    border-radius: 30px 30px 0px 0px;
    background-image: url(../../../../public/img/spc_subsidiary_img/SPC삽립.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
} /* 계열사 식품 박스 > 카드 이미지_01 */

#Subsidiary_box1 .subsidiary_card_li .food_card_image_02{
    width: 450px; height: 240px;
    border-radius: 30px 30px 0px 0px;
    background-image: url(../../../../public/img/spc_subsidiary_img/파리크라상.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
} /* 계열사 식품 박스 > 카드 이미지_02 */

#Subsidiary_box1 .subsidiary_card_li .food_card_image_03{
    width: 450px; height: 240px;
    border-radius: 30px 30px 0px 0px;
    background-image: url(../../../../public/img/spc_subsidiary_img/비알코리아.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
} /* 계열사 식품 박스 > 카드 이미지_03 */
/*식품*/


/*원료*/
#Subsidiary_box1 .subsidiary_card_li .material_card_image_01{
    width: 450px; height: 240px;
    border-radius: 30px 30px 0px 0px;
    background-image: url(../../../../public/img/spc_subsidiary_img/SPL.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
} /* 계열사 원료 박스 > 카드 이미지_01 */

#Subsidiary_box1 .subsidiary_card_li .material_card_image_02{
    width: 450px; height: 240px;
    border-radius: 30px 30px 0px 0px;
    background-image: url(../../../../public/img/spc_subsidiary_img/SPC팩.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
} /* 계열사 원료 박스 > 카드 이미지_02 */
/*원료*/

/*IT/서비스*/
#Subsidiary_box1 .subsidiary_card_li .service_card_image_01{
    width: 450px; height: 240px;
    border-radius: 30px 30px 0px 0px;
    background-image: url(../../../../public/img/spc_subsidiary_img/SPL.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
} /* 계열사 IT/서비스 박스 > 카드 이미지_01 */
/*IT/서비스*/

/*유통*/
#Subsidiary_box1 .subsidiary_card_li .distribution_card_image_01{
    width: 450px; height: 240px;
    border-radius: 30px 30px 0px 0px;
    background-image: url(../../../../public/img/spc_subsidiary_img/GFS.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
} /* 계열사 유통 박스 > 카드 이미지_01 */

#Subsidiary_box1 .subsidiary_card_li .distribution_card_image_02{
    width: 450px; height: 240px;
    border-radius: 30px 30px 0px 0px;
    background-image: url(../../../../public/img/spc_subsidiary_img/타이거\ 인터내셔날.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
} /* 계열사 유통 박스 > 카드 이미지_02 */
/*유통*/

/* ///////////////////계열사 카드 이미지 모음/////////////////////////*/