@import '../../../common/common.css';
@import '../../../common/reset.css';
@import '../../../common/variable.css';

/*Magazine_box1 (SPC MAGAZINE NOW 박스)/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#Magazine_box1 {
    display: flex; align-items: center; 
    width: 100%;
    height: 800px;
    /* background-color: #fda; */
} /*SPC MAGAZINE NOW 박스 전체 영역*/

#Magazine_box1 .container{
    width: 1600px;
    height: 600px;
    margin: 0 auto;
    /* background-color: #fff; */
} /*SPC MAGAZINE NOW 박스 위치 영역*/

#Magazine_box1 .container .magazine_title{
    width: 100%;
    height: 100px;
    display: flex; align-items: center; justify-content: center;
    text-align: center;
    margin-bottom: 90px;
} /*SPC MAGAZINE NOW 박스 타이틀*/

#Magazine_box1 .container .magazine_card_box{
    width: 100%;
    height: 360px;
} /*SPC MAGAZINE NOW 박스 -> 카드 박스*/

#Magazine_box1 .container .magazine_card_ul{
    display: flex;
    width: 100%;
    height: 360px;
} /*SPC MAGAZINE NOW 박스 -> 카드 박스 ul*/

#Magazine_box1 .container .outline{
    width: 400px;
    height: 360px;
    border-right: 1px solid #ccc;;
} /* SPC MAGAZINE NOW 박스 -> 카드 바깥 영역 */

#Magazine_box1 .container .outline:last-child{
    border: 0;
} /* SPC MAGAZINE NOW 박스 -> 카드 마지막 바깥 영역에 border값 리셋 */

#Magazine_box1 .container .magazine_card{
    width: 360px;
    height: 360px;
    margin: 0 auto;
} /* SPC MAGAZINE NOW 박스 -> 카드 안쪽 영역 */


/* //////////////////////////// SPC MAGAZINE NOW 박스 -> 이미지 모음 영역 ////////////////////////////*/
#Magazine_box1 .container .magazine_card_image_01 {
    width: 360px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_6월.jpg);
}

#Magazine_box1 .container .magazine_card_image_02 {
    width: 360px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_5월.jpg);
}

#Magazine_box1 .container .magazine_card_image_03 {
    width: 360px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_4월.jpg);
}

#Magazine_box1 .container .magazine_card_image_04 {
    width: 360px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_3월.jpg);
}/* ////////////////// SPC MAGAZINE NOW 박스 -> 이미지 모음 영역 //////////////////*/




#Magazine_box1 .container .magazine_card_text{
    width: 360px;
    height: 110px;
    box-sizing: border-box;
    padding: 5px 0;
} /*  SPC MAGAZINE NOW 박스 -> 카드 텍스트 영역 */

#Magazine_box1 .magazine_card_text .magazine_card_title{
    text-transform: uppercase;
    padding: 5px 0;
} /*  SPC MAGAZINE NOW 박스 -> 카드 텍스트 영역 -> 카드 제목 */

#Magazine_box1 .magazine_card_text .magazine_card_date{
    padding: 15px 0;
    color: #7d7d7d;
} /*  SPC MAGAZINE NOW 박스 -> 카드 텍스트 영역 -> 카드 날짜 */

/*Magazine_box1 (SPC MAGAZINE NOW 박스)/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/