@import '../../../common/common.css';
@import '../../../common/reset.css';
@import '../../../common/variable.css';

/*Magazine_box3 (SPC MAGEZINE 테이블 박스)///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#Magazine_box3{
    position: relative;
    width: 100%;
    height: 3500px;
    /* background-color: #fad; */
    box-sizing: border-box;
    padding-top: 100px;
} /* SPC MAGAZINE 테이블 박스 전체 영역*/

#Magazine_box3 .container{
    width: 1600px;
    height: 3300px;
    margin: 0 auto;
    /* background-color: #fda; */
} /* SPC MAGAZINE 테이블 박스 위치 영역*/

#Magazine_box3 .container .select_box{
    display: flex; align-items: center; justify-content: center;
    width: 100%;
    height: 150px;
    /* background-color: #ffa; */
} /* SPC MAGAZINE 테이블 박스 -> select 박스 전체 영역*/

#Magazine_box3 .container .select_box_title{
    position: relative;
    display: flex; align-items: center;
    width: 450px; height: 80px;
    background-color: #fff;
    border-radius: 30px;
    box-sizing: border-box;
    padding:0 30px;
    text-transform: uppercase;
    box-shadow: 0 0 13px #ccc;
} /* SPC MAGAZINE 테이블 박스 -> select 박스 전체 영역 -> 제목 (SPC MAGAZINE ????년 ??월호)*/


#Magazine_box3 .select_box_title::after{
    position:absolute; right: 30px;
    content:'';
    width: 20px;
    height: 20px;
    background: url('https://api.iconify.design/akar-icons/chevron-right.svg?rotate=90deg') no-repeat center center / contain;
} /* SPC MAGAZINE 테이블 박스 -> select 박스 전체 영역 -> bottom 화살표*/

#Magazine_box3 .container .magazine_table{
    width: 848px;
    margin: 0 auto;
} /* SPC MAGAZINE 테이블 박스 -> MAGAZINE 테이블*/

#Magazine_box3 .magazine_table td{
    padding:9px 12px;
} /* SPC MAGAZINE 테이블 박스 -> MAGAZINE 테이블 td*/


/* ////////////// SPC MAGAZINE 테이블 박스 -> MAGAZINE 테이블 이미지 모음 ////////////// */
#Magazine_box3 .magazine_table .magazine_image_01 {
    width:826px; height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_01.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_02 {
    width:826px; height: 560px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_02.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_03 {
    width:400px; height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_03.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_04 {
    width:400px; height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_04.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_05 {
    width:400px; height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_05.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_06 {
    width:400px; height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_06.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_07 {
    width:258px; height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_07.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_08 {
    width:258px; height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_08.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_09 {
    width:258px; height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_09.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_10 {
    width:258px; height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_10.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_11 {
    width:258px; height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_11.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_12 {
    width:258px; height: 285px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_12.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_13 {
    width:826px; height: 127px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_13.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_14 {
    width:826px; height: 205px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_14.jpg);
}

#Magazine_box3 .magazine_table .magazine_image_15 {
    width:826px; height: 234px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../../../public/img/spc_magazine_img/magazine_table_img_15.jpg);
}/* ////////////// SPC MAGAZINE 테이블 박스 -> MAGAZINE 테이블 이미지 모음 ////////////// */


#Magazine_box3 .container .magazine_link {
    display: flex; align-items: center; justify-content: center;
    width: 300px;
    height: 63px;
    border-radius: 30px;
    box-shadow: 0 0 13px #ccc;
    margin: 70px auto;
}



#Magazine_box3 .circle_wrap{
    position: relative;
} /* SPC MAGAZINE 테이블 박스 -> 여러개 원을 넣을 영역 */

#Magazine_box3 .circle {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 1;
} /* SPC MAGAZINE 테이블 박스 -> 여러개 원 크기,위치,투명도 조정 */

#Magazine_box3 .circle_sky01{
    width: 200px;
    height: 200px;
    top: 5%;
    left: 72%;
    background-color: #d1ebfa;
    z-index: -1;
} /* sky circle 01 (small) */

#Magazine_box3 .circle_sky02{
    width: 400px;
    height: 400px;
    top: 92%;
    left: 10%;
    background-color: #d1ebfa;
    z-index: -1;
} /* sky circle 02 (medium) */

#Magazine_box3 .circle_sky03{
    width: 600px;
    height: 600px;
    top: 17%;
    left: 72%;
    background-color: #d1ebfa;
    z-index: -1;
} /* sky circle 03 (big) */

#Magazine_box3 .circle_yellow01{
    width: 300px;
    height: 300px;
    top: 10%;
    left: -5%;
    background-color: #fff0c3;
    z-index: -1;
} /* yellow circle 01 (small) */

#Magazine_box3 .circle_yellow02{
    width: 500px;
    height: 500px;
    top: 76%;
    left: 85%;
    background-color: #fff0c3;
} /* yellow circle 02 (medium) */

#Magazine_box3 .circle_yellow03{
    width: 700px;
    height: 700px;
    top: 42%;
    right: 72%;
    background-color: #fff0c3;
    z-index: -1;
} /* yellow circle 03 (big) */


/*Magazine_box3 (SPC MAGEZINE 테이블 박스)///////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/