@import '../../../common/common.css';
@import '../../../common/reset.css';
@import '../../../common/variable.css';

/*Youtube_box2 (SPC YOUTUBE 박스)////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#Youtube_box2 {
    width: 100%; height: 2800px; display: flex; align-items: center; justify-content: center;
} 
/* SPC YOUTUBE 전체 영역*/

#Youtube_box2 .container{
    width: 1600px; height: 2700px;
}
/* SPC YOUTUBE 위치 영역*/

#Youtube_box2 .container .youtube_total_box{
    width: 100%; height: 2460px; margin-top: 100px;
} /* SPC YOUTUBE 전체 박스 */

#Youtube_box2 .container .youtube_box {
    display: flex;
    width: 100%; height: 360px;
    margin-bottom: 60px;
} /* SPC YOUTUBE 하나의 박스 */

#Youtube_box2 .container .youtube_logo_box{
    width: 300px; height: 360px;
} /* SPC YOUTUBE 박스 -> logo 박스 */

#Youtube_box2 .container .youtube_logo{
    width: 270px; height: 270px;
    background-color: #ffffff;
    border-radius: 50%;
    box-sizing: border-box; padding-top: 50px;
    margin: 0 auto;
    box-shadow: 0 0 13px #ccc;
} /* SPC YOUTUBE 박스 -> logo 박스 -> logo*/

/* //////////////////////////// LOGO 이미지 모음 ////////////////////////////*/

#Youtube_box2 .container .youtube_logo_image_01{
    width: 120px; height: 120px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_logo_01.png);
    margin: 0 auto;
} /* SPC YOUTUBE 박스 -> logo 박스 -> logo 이미지 01*/

#Youtube_box2 .container .youtube_logo_image_02{
    width: 120px; height: 120px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_logo_02.png);
    margin: 0 auto;
} /* SPC YOUTUBE 박스 -> logo 박스 -> logo 이미지 02*/

#Youtube_box2 .container .youtube_logo_image_03{
    width: 120px; height: 120px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_logo_03.png);
    margin: 0 auto;
} /* SPC YOUTUBE 박스 -> logo 박스 -> logo 이미지 03*/

#Youtube_box2 .container .youtube_logo_image_04{
    width: 120px; height: 120px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_logo_04.png);
    margin: 0 auto;
} /* SPC YOUTUBE 박스 -> logo 박스 -> logo 이미지 04*/

#Youtube_box2 .container .youtube_logo_image_05{
    width: 120px; height: 120px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_logo_05.png);
    margin: 0 auto;
} /* SPC YOUTUBE 박스 -> logo 박스 -> logo 이미지 05*/

#Youtube_box2 .container .youtube_logo_image_06{
    width: 120px; height: 120px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_logo_06.png);
    margin: 0 auto;
} /* SPC YOUTUBE 박스 -> logo 박스 -> logo 이미지 06*/

/* //////////////////////////// LOGO 이미지 모음 ////////////////////////////*/

#Youtube_box2 .youtube_logo p{
    padding-top: 30px;
    text-transform: uppercase;
    text-align: center;
} /* SPC YOUTUBE 박스 -> logo 박스 -> logo @이름 */

#Youtube_box2 .youtube_logo .SHAKESHACK{
    padding-top: 15px;
} /* SPC YOUTUBE 박스 -> logo 박스 -> logo @쉐이크쉑 만 */

#Youtube_box2 .container .youtube_button_box{
    display: flex; justify-content: space-between;
    width: 200px; height: 90px; 
    margin: 10px auto;
} /* SPC YOUTUBE 박스 -> logo 박스 -> 버튼 박스 */

#Youtube_box2 .container .youtube_button_prev{
    width: 80px; height: 80px; border-radius: 50%;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 13px #ccc;
} /* SPC YOUTUBE 박스 -> logo 박스 -> 버튼 박스 -> 이전 버튼 */

#Youtube_box2 .container .youtube_button_next{
    width: 80px; height: 80px; border-radius: 50%;
    text-align: center;
    background-color:#fff;
    box-shadow: 0 0 13px #ccc;
} /* SPC YOUTUBE 박스 -> logo 박스 -> 버튼 박스 -> 다음 버튼 */

#Youtube_box2 .container .prev{
    width: 80px; height: 80px; 
    background: url('https://api.iconify.design/bi/arrow-left-short.svg?width=16&height=16') no-repeat center center / contain
} /* SPC YOUTUBE 박스 -> logo 박스 -> 버튼 박스 -> 다음 버튼 -> prev 화살표 이미지 */

#Youtube_box2 .container .next{
    width: 80px; height: 80px;
    background: url('https://api.iconify.design/bi/arrow-right-short.svg?width=16&height=16') no-repeat center center / contain
} /* SPC YOUTUBE 박스 -> logo 박스 -> 버튼 박스 -> 다음 버튼 -> next 화살표 이미지 */

#Youtube_box2 .container .youtube_card_box{
    width: 1300px; height: 360px;
} /* SPC YOUTUBE 박스 -> card 박스 */

#Youtube_box2 .container .youtube_card_ul{
    display: flex; gap: 30px;
    width: 1300px; height: 360px;
    padding : 0 20px;
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_ul*/

#Youtube_box2 .container .youtube_card_li{
    width: 400px; height: 360px;
    border-radius: 30px;
    box-shadow: 0 0 13px #ccc;
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li*/

/* /////////////////////////////// 유튜브 카드 이미지 모음 ///////////////////////////////*/
#Youtube_box2 .container .youtube_card_image_01{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_01.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_01*/

#Youtube_box2 .container .youtube_card_image_02{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_02.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_02 */

#Youtube_box2 .container .youtube_card_image_03{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_03.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_03*/

#Youtube_box2 .container .youtube_card_image_04{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_04.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_04*/

#Youtube_box2 .container .youtube_card_image_05{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_05.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_05 */

#Youtube_box2 .container .youtube_card_image_06{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_06.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_06*/

#Youtube_box2 .container .youtube_card_image_07{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_07.webp);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_07*/

#Youtube_box2 .container .youtube_card_image_08{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_08.webp);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_08 */

#Youtube_box2 .container .youtube_card_image_09{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_09.webp);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_09*/

#Youtube_box2 .container .youtube_card_image_10{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_10.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_10*/

#Youtube_box2 .container .youtube_card_image_11{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_11.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_11 */

#Youtube_box2 .container .youtube_card_image_12{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_12.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_12*/

#Youtube_box2 .container .youtube_card_image_13{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_13.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_13*/

#Youtube_box2 .container .youtube_card_image_14{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_14.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_14 */

#Youtube_box2 .container .youtube_card_image_15{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_15.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_15*/

#Youtube_box2 .container .youtube_card_image_16{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_16.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_16*/

#Youtube_box2 .container .youtube_card_image_17{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_17.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_17 */

#Youtube_box2 .container .youtube_card_image_18{
    width: 400px; height: 250px;
    border-radius: 30px 30px 0 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url(../../../../public/img/spc_youtube_img/youtube_card_image_18.jpg);
} /* SPC YOUTUBE 박스 -> card 박스 -> youtube_card_li -> 유튜브 카드 이미지_18*/

/* /////////////////////////////// 유튜브 카드 이미지 모음 ///////////////////////////////*/
#Youtube_box2 .container .youtube_card_text{
    position: relative;
    width: 100%; height: 110px;
    box-sizing: border-box;
    padding: 25px;
} /*SPC YOUTUBE 박스 -> card 박스 -> 카드 제목 영역 */

#Youtube_box2 .youtube_card_text p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
} /*SPC YOUTUBE 박스 -> card 박스 -> 카드 제목 */

#Youtube_box2 .youtube_card_text .date_text{
    position: absolute;
    bottom:20px; left: 25px;
    color: #7d7d7d;
} /*SPC YOUTUBE 박스 -> card 박스 -> 카드 날짜 */